.card{
    -webkit-box-shadow: 0px 0px 13px 9px #031e50; 
    box-shadow: 0px 0px 13px 9px #031e50;
    border-radius: 6px;
    max-width: min-content;
    max-height: min-content;
    margin: 0px 10px 20px 10px;
    background-color: #f1bb88;
}
.card-img{
    width: 400px;
    height: 250px;
    padding-left: 2px;
    padding-right: 2px;
}

.card > div > h3{
    margin-left: 15px;
    font-size: 25px;
}