.card-section{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    -webkit-box-shadow: 0px 0px 13px 9px #031e50; 
    box-shadow: 0px 0px 13px 9px #031e50;
    border-radius: 6px;
    max-width: min-content;
    max-height: min-content;
    margin-left: 20px;
    margin-bottom: 10px;
}
.card-img{
    width: 400px;
    height: 200px;
    padding-left: 2px;
    padding-right: 2px;
}

.card > div > h3{
    margin-left: 15px;
    font-size: 25px;
}