body{
    display: contents;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.input-field{
    border-radius: 6px;
    width: 200px;
    height: 22px;
    margin: 0px 5px 0px 5px;
}
.textarea-field{
    border-radius: 6px;
    margin: 0px 5px 0px 5px;
    height: 250px;
    width: 500px;
}
.btn{
    font-size: 16px;
    font-weight: 500;
    background-color: #06307e;
    color: white;
    border-radius: 6px;
    width: 150px;
    height: 27px;
}
.form-container{
    display: inline-flex;  
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;    
    position: relative;
    margin-top: 50px;
}
.form-container > div{
    margin-bottom: 3px;
}
.error{
    color: red;
    font-size: 20px;
    font-weight: 500;
}
.center{
    align-self: center;
    align-items: center;
}
.left{
    float: left
}
.right{
    float: right
}
.inline-fl{
    display: inline-flex;
}
.grid{
    display: grid;
}
.label{
    font-size: 25px;
}
.img{
    height: 600px;
    width: 600px;
    -webkit-box-shadow: 0px 0px 18px 3px rgba(3,30,80,1);
    -moz-box-shadow: 0px 0px 18px 3px rgba(3,30,80,1);
    box-shadow: 0px 0px 18px 3px rgba(3,30,80,1);
}
.anchor-btn{
    text-decoration: none;
    background-color: #06307e;
    color: white;
    padding: 6px 20px 6px 20px;
    margin: 0 5px 5px 0;
    font-size: 20px;
    float: right;
    border-radius: 8px;
}
.align-end{
    align-items: flex-end;
}