nav {
    background-color: #06307e;
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

nav > div {
    margin-top: 8px;
    display: inline;
}
.nav-left{
    float: left
}
.nav-right{
    float: right
}
nav > div > a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
nav > div > a:hover{
    background-color: rgb(110, 120, 133);
    padding: 5px 0px 5px 0px;
    border-radius: 3px;
}