.search-container{
    display: flex;
    flex-direction: column;
    width: max-content;
    position: absolute;
    margin-top: 5px;
    margin-left:450px;
}
.search-container > .search-row{
    display: flex;
    margin-bottom: 1px;
    background-color: #666b85;
    color: white;
    justify-content: flex-end;
    align-items: center;
    border-radius: 6px;
    padding: 5px 5px 5px 5px;
    z-index: 9;
}
.search-container > .search-row > a {
    margin-left: 10px;
}

@media screen and (max-width:790px) {
    #searchField{
        display: none;
    }
}